
<div class="d-flex flex-row-reverse" *ngIf="hourBlockToggle">
  <div class="">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="duration">Appointment Length</label>
      </div>
      <select class="custom-select" name="Duration" id="duration" 
        (change)="hourBlockChange.emit($event.target.value)"
      >
        <option value="2">30mins</option>
        <option value="1">1hr</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)"
      >
        Previous
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)"
      >
        Today
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)"
      >
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <h3>{{ viewDate | calendarDate: view + 'ViewTitle':locale }}</h3>
  </div>
  <div class="col-md-4 text-right">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="viewChange.emit(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Month
      </div>
      <div
        class="btn btn-primary"
        (click)="viewChange.emit(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Week
      </div>
      <div
        class="btn btn-primary"
        (click)="viewChange.emit(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Day
      </div>
    </div>
  </div>
</div>